/* Set Variables for UW-Madison Colors */
:root {
  --uw-red: #c5050c;
  --uw-red-dark: #9b0000;
  --uw-page-bg: #f7f7f7;
  --uw-gray-blue: #dadfe1;
  --uw-gray-darker: #646569;
  --uw-gray-darkest:  #282728;
  --uw-body-font: #494949;
  --uw-anchor-color:  #0479a8;
  --uw-gray-footer-text:  #adadad;
  --uw-gray-footer-text-hover:  #f9f9f9;
}

/* Import UW-Madison Fonts */
@import "uw-fonts.0.0.1.css";

body {
  font-family: 'Verlag', sans-serif;
  background-color: var(--uw-page-bg);
  color: var(--uw-body-font);
  font-size: 2rem;
}

.row {
  padding-right: 15px;
  padding-left: 15px
}

.titlePanel {
  background-color: var(--uw-red);
}

h1, h2 {
  margin: 0px;
  font-weight: 600;
}

h3, h4, h5, h6 {
  margin: 10px;
  font-weight: 400;
}
